<html>

    <header>
        <br>
        <h1 align="center">Welcome to the Dinner Selection</h1>
        <h3 align="center">Click on the days for the current week where you want to have a bite!</h3>
    </header>
    <br>
    <br>
    <br>

        <form method="post">
          MTK ID*:
          <br>
            <style>
                body {
                    background-image: url("dinner.jpg");
                }
            </style>
          <input type="text" name="mtkid" required><br><br>
          <input type="submit">
    <br>
    <br>

        <input type=”radio” name”affirmative” checked> Yes
        </input>

        <input type=”radio” name”negative”> No
        </input>

    </form>

</html>
