<html>
<head>
<meta charset="UTF-8">
    <style>

        body
            {
              background-color: #fcfcfc;
            }
            .center-div
            {
              margin: auto;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              width: 50%;
              height: 50%;
            }

    </style>
</head>
<body background="/static/one.jpg">
<h1 align="center">Welcome to the Dinner Selection</h1>
<h3 align="center">Click on the days for the current week where you want to have a bite!</h3>
<div class="center-div">
    <form method="post">
      MTK ID*:
      <br>
      <input type="text" name="mtkid" required><br><br>

      <input type="checkbox" name="monday" value="monday"> Monday
      <input type="checkbox" name="tuesday" value="tuesday"> Tuesday
      <input type="checkbox" name="wednesday" value="wednesday"> Wednesday
      <input type="checkbox" name="thursday" value="thursday"> Thursday <br>
      <input type="submit">

</form>
</div>
</body>
</html>
